:root{
    --color-primary:#FFFFFF;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(Img/фон1.png);
    background-color:#2148C0;
    font-family: "Inter",sans-serif;
}

.main-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

.main-label-container{
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    color: var(--color-primary);
    text-align: center; 
    padding-bottom: 20px;
}

.main-text{ 
    text-align: center;
}

.main-input{
border-radius: 10px;

margin: 10px 0px;
width: 751px;
height: 58px;
}

.register-form .register-button .password-control{
    font-size: 24px;
    font-weight: 400;
    border-radius: 10px;
}

.register-form{
    background-color:var(--color-primary);
    line-height: 29.05px;
    text-align: left;
    color:#666666;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.register-button{
    background-color:#2148C0 ;
    line-height: 32px;
    color: var(--color-primary);
    padding: 10px;
    cursor: pointer;  
    border-radius: 10px;
}

.password{
  text-align-last: right;
}

.password-control{
    color:#999999;
    line-height: 32px;
   
}

.img3{
    position: absolute;
    right: 70px;
    bottom: 170px;
}

input:focus {
    background-color: lightblue;
  }
